h1{
  color: white;
  font-family: 'Courier New';
  text-align: center;
  background-color: black;
}
h3{
  color: white;
  font-family: 'Courier New';
  text-align: right;
}
body{
  background-color: MediumAquaMarine;
}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
p{
  display: inline;
  color: white;
  font-family: 'Courier New';
  text-align: top;
}
img{
  float: left;
}
