h1{
  color: white;
  font-family: 'Courier New';
  text-align: center;
  background-color: black;
}
#toolbar{
  color: white;
  font-family: 'Courier New';
  text-align: right;
}
body{
  background-color: MediumAquaMarine;
}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.par{
  display: inline;
  color: white;
  font-family: 'Courier New';
  text-align: top;
  text-align: left;
  font-size: 100%;
  font-weight: bold;
}
.bold{
  color: black;
  font-family: 'Courier New';
  text-align: left;
  display: inline;
  font-size: 150%;
  font-weight: bold;
}
img{
  float: left;
}
