h1{
  font-family: 'Courier New';
  color: white;
  text-align: center;
  background-color: black;
}
h2{
  font-family: 'Courier New';
  color: white;
  text-align: center;
}
h3{
  font-family: 'Courier New';
  color: white;
  text-align: right;
}
body{
  background-color: MediumAquaMarine;
}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

