h1{
  color: black;
  font-family: 'Courier New';
  text-align: center;
}
body{
  background-color: MediumAquaMarine;
}
#border{
  border-width: thick;
  background-color: black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: 'Courier New';
}
h3{
  font-family: 'Courier New';
  color: white;
  text-align: center;
}
img{
  margin-left: auto;
  margin-right: auto;
}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
