h1{
  color: white;
  font-family: ‘Courier New’;
  text-align: center;
}
body{
  background-color: MediumAquaMarine;
}
#border{
  border-width: thick;
  background-color: black;
  width: 500px;
  height: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
h3{
  font-family: 'Courier New';
  color: white;
  text-align: center;
}
img{
  margin-left: auto;
  margin-right: auto;
}
